@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Pendulum!</h1>
        
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zVch_PK7SOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </body>
<canvas id="container" width="200" height="200"></canvas>